* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    padding: none;
    border: none;
    box-shadow: none;
}

body {
    
    overflow-x: hidden;
}

nav {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
}

nav h1 {
    font-weight: 400;
}

nav hr {
    margin: 30px 10vw 40px;
    height: 5px;
    background: white;
    border-radius: 50px;
    border: none;
    outline: none;
}

nav .setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 30px 10vw;
}

nav .setting span {
    margin: 0 20px;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}

nav .setting input {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 30px;
    caret-color: white;
    padding: 0 20px;
    width: min-content;
    font-size: 30px;
    height: 50px;
    line-height: 46px;
}

nav .setting .btn {
    width: 220px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    border: solid 2px white;
    border-radius: 40px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}

nav .setting .btn:hover {
    background-color: black;
    color: white;
}

main {
    width: 100%;
    background: white;
    color: black;
}

main .bar {
    display: inline-block;
    margin: 30px 0;
}

main hr {
    margin: 0 20px;
}

main .bar .info {
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    font-weight: 300;
}

main .bar .text {
    margin: 10px 30px;
    display: block;
    font-size: 50px;
    width: calc(100vw - 60px);
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 300ms;
}

main .bar .text:hover {
    white-space: normal;
    padding: 40px;
    background: black;
    color: white;
}

main .weight100 .text {font-weight: 100;}
main .weight200 .text {font-weight: 200;}
main .weight300 .text {font-weight: 300;}
main .weight400 .text {font-weight: 400;}
main .weight500 .text {font-weight: 500;}
main .weight600 .text {font-weight: 600;}
main .weight700 .text {font-weight: 700;}
main .weight800 .text {font-weight: 800;}
main .weight900 .text {font-weight: 900;}

.jukebox {
    width: 100vw;
    height: 100vh;
    background: black;
    text-align: center;
    color: white;
}

.jukebox .slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 40px;
    transition: opacity 1s;
    opacity: 0;
}

.jukebox .slide * {
    width: 100vw;
}

.jukebox .weight100 {animation: slide1 30s infinite;font-weight: 100;}
.jukebox .weight200 {animation: slide2 30s infinite;font-weight: 200;}
.jukebox .weight300 {animation: slide3 30s infinite;font-weight: 300;}
.jukebox .weight400 {animation: slide4 30s infinite;font-weight: 400;}
.jukebox .weight500 {animation: slide5 30s infinite;font-weight: 500;}
.jukebox .weight600 {animation: slide6 30s infinite;font-weight: 600;}
.jukebox .weight700 {animation: slide7 30s infinite;font-weight: 700;}
.jukebox .weight800 {animation: slide8 30s infinite;font-weight: 800;}
.jukebox .weight900 {animation: slide9 30s infinite;font-weight: 900;}

@keyframes slide1 {
    0% {opacity: 0;}
    0.1% {opacity: 0;}
    1.2% {opacity: 1;}
    10% {opacity: 1;}
    11.1% { opacity: 0; }
}
@keyframes slide2 {
    11.1% { opacity: 0; }
    11.2% { opacity: 0; }
    12.3% { opacity: 1; }
    21.1% { opacity: 1; }
    22.2% { opacity: 0; }
}
@keyframes slide3 {
    22.2% { opacity: 0; }
    22.3% { opacity: 0; }
    23.4% { opacity: 1; }
    32.2% { opacity: 1; }
    33.3% { opacity: 0; }
}
@keyframes slide4 {
    33.3% { opacity: 0; }
    33.4% { opacity: 0; }
    34.5% { opacity: 1; }
    43.3% { opacity: 1; }
    44.4% { opacity: 0; }
}
@keyframes slide5 {
    44.4% { opacity: 0; }
    44.5% { opacity: 0; }
    45.6% { opacity: 1; }
    54.4% { opacity: 1; }
    55.5% { opacity: 0; }
}
@keyframes slide6 {
    55.5% { opacity: 0; }
    55.6% { opacity: 0; }
    56.7% { opacity: 1; }
    65.5% { opacity: 1; }
    66.6% { opacity: 0; }
}
@keyframes slide7 {
    66.6% { opacity: 0; }
    66.7% { opacity: 0; }
    67.8% { opacity: 1; }
    76.6% { opacity: 1; }
    77.7% { opacity: 0; }
}
@keyframes slide8 {
    77.7% { opacity: 0; }
    77.8% { opacity: 0; }
    78.9% { opacity: 1; }
    87.7% { opacity: 1; }
    88.8% { opacity: 0; }
}
@keyframes slide9 {
    88.8% { opacity: 0; }
    88.9% { opacity: 0; }
    90% { opacity: 1; }
    98.9% { opacity: 1; }
    100% { opacity: 0; }
}